#container {  
  width: 1400px ;  
  margin-left: auto ;  
  margin-right: auto ;   
  margin-top: -45px ;   
  background-color:#222;
  border: 1px;
  border-color: #111;
  border-style:solid;
  height:760px
}
@font-face{
    font-family:metamorphous;
    src:url(../fonts/Metamorphous-Regular.ttf);
}
#chatroomlabel{
   height:70px;
   margin-top:5px;
   color:gold;
   font-family:metamorphous;

}
#chatlog { 
  margin-top:-15px;
  margin-left:-30px;
  height:560px;
  width:558px;  
  background-color:black;  
  float: left;  
  resize:none;
  word-wrap: break-word;
  overflow-y:scroll;
}  
#loadUserInfo{
    font-family:metamorphous;
    font-size:17px;
    background-color:transparent;
    width:175px;
    height:30px;
    margin-top:5px;
    margin-bottom:5px;
}
.border{
    font-size:20px;
    margin-top:5px;
    margin-bottom:5px;
}
#onlineusers {
    padding-top:5px;
    font-family:metamorphous;
  margin-top:-15px;
  margin-left:10px;
  text-align:center;
  float: left;  
  width: 165px;  
  height:460px;
  background-color:black;  
  overflow:auto;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
  color:green;
  font-size:20px;

}  
#btnleave{
    float:right;
    margin-right:-256px;
    margin-top:-90px;
    height:80px;
    width:180px;
    font-family:metamorphous;
    bottom:70px;
    font-size:24px;
}
#chatarea { 
  margin-left:-30px; 
  clear:both;   
  width:500px;  
  height:100px;
}  
.messagelog{
  float:left;   
  width:500px;  
  height: 80px;   
  top: 10%;   
  position: relative;  
} 
.messagebox{
    max-width:400px;
    max-height:80px;
    height:100%;
    width:100%;
    resize:none;
}
#chatarea .actionpane {  
  position:relative;   
  float: right;  
}  
#btnsend{
    bottom:70px;
    right:92px;
    position:relative;   
    float: right;  
    height:80px;
    width:100px;
    font-family:metamorphous;
    font-size:24px;

}
#users{
    width:47px;
    position:absolute;   
    bottom:48px;
    left:12px;
    float: initial;  
    font-family:metamorphous;

}
.smileys {  
  width:14px;  
  height:14px;  
} 